.txt{
    color: red;
}
.txt1{
    font-size: 60px;
}
.txt2{
    background-color: red;
}
.cont{
    border: 2px solid black;
    width: 400px;
    height: 400px;

}
.cont1{
    border: 2px solid black;
    width: 400px;
    height: 400px ;
}
.txt3{
    color: red;
}
.txt4{
    font-size: 60px;
}
.txt5{
    background-color: red;
}
.txt6{
    color: red;
}
.txt7{
    font-size: 60px;
}
