
.div1{
    width: 400px;
    height: 400px;
    background-color: red;
    animation-name:example ;
    animation-duration: 5ms;
}

@keyframes example{
    from{background-color: red;}
    to{background-color: blue;}
}