/*start main*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}


.main1{
    width: 400px;
    height: 600px;
    background-color:rgb(54, 54, 54) ;
    border-radius: 25px;
    margin-top: 200px;
    display:row;
    border: 1px solid rgb(110, 255, 0);
}

.img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid  rgb(110, 255, 0);
    margin-top: 50px;
    margin-left: 140px;
}

.but1{
    width: 228px;
    height: 56px;
    background-color: black;
    border: none;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 80px;
    color: rgb(110, 255, 0);
    font-size: 20px;
    cursor: pointer;
}

.p1{
    font-family: "Irish Grover", system-ui;
    text-decoration: none;
    color: rgb(110, 255, 0);
}

.but2{
    width: 228px;
    height: 56px;
    background-color: black;
    border: none;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 80px;
    color: rgb(110, 255, 0);
    font-size: 20px;
    cursor: pointer;
}

.p2{
    font-family: "Irish Grover", system-ui;
    text-decoration: none;
    color: rgb(110, 255, 0);
}

.but3{
    width: 228px;
    height: 56px;
    background-color: black;
    border: none;
    border-radius: 15px;
   margin-top: 80px;
   margin-left: 80px;
   color: rgb(110, 255, 0);
   font-size: 20px;
   cursor: pointer;

}

.p3{
    font-family: "Irish Grover", system-ui;
    text-decoration: none;
    color: rgb(110, 255, 0);
}

/*end main*/
